#forecast-section{
  width: 80%;
  margin: 0 5%;
  display: flex;
}
#forecast-date{
  text-align: center;
}
.forecast-card{
  min-width: 20%;
  min-height: 245px;
  height: 245px;
  width: 20%;
  padding: 2%;
}
.forecast-text{
  height: 50px;
}
.text-color-blue{
  color: blue;
}
.text-color-red{
  color: red;
}
