.forecast-wrapper{
  grid-column: auto / span 3;
}
#forecast-section{
  margin: 0 5%;
  display: flex;
}
.forecast-card{
  text-align: center;
  min-width: 20%;
  min-height: 245px;
  height: 245px;
  width: 20%;
  padding: 0 2%;
}
.forecast-text{
  height: 50px;
}
.text-color-blue{
  color: blue;
}
.text-color-red{
  color: red;
}
